@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-narrow-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-narrow-700.woff2") format("woff2");
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* убирает стрелочки у input type="number" во всех браузерах */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img {
    display: block;
    object-fit: contain;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 1080px;
    font-family: "PT Sans Narrow", sans-serif;
    margin: 0;
}

main {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 14px 20px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.button:hover {
    background-color: #814B18;
}

.button:focus-visible,
.button:active {
    background-color: #814B18;
    outline: 2px solid #DBB590;
}

.button:disabled {
    color: #E7E7E7;
    background-color: #595959;
}

.button-white {
    background-color: #fff;
    color: #242424;
}

.button-white:hover {
    background-color: #DBB590;
}

.button-white:focus-visible,
.button-white:active {
    outline: 2px solid #AF7842;
}

.button-white:disabled {
    background-color: #595959;
    color: #E7E7E7;
}

.services .button {
    margin-top: 10px;
    margin-bottom: 14px;
    padding-right: 44px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.main-header {
    display: flex;
    align-items: center;
    background-color: #000;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.navigation {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    padding: 0 40px;
    min-width: 1020px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 450px;
}

.navigation-item {
    padding: 22px 0;
}

.navigation-link {
    text-decoration: none;
    color: #fff;
    padding: 21px 22px;
    border: 4px solid #000;
    min-height: 70px;
}

.navigation-link:hover {
    background-color: #595959;
    border-color: #595959;
}

.navigation-link:focus-visible,
.navigation-link:active {
    outline: none;
    border-color: #E7E7E7;
}

.navigation-user-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation-user-item {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 56px;
    min-height: 70px;
}

.navigation-user-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 23px 16px;
    flex-grow: 1;
    min-width: 16px;
    min-height: 70px;
    border: 4px solid #000;
}

.navigation-user-link-with-text {
    padding: 20px 16px;
    padding-left: 40px;
}

.navigation-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    fill: #BDBDBD;
}

.navigation-user-link-with-text .navigation-icon {
    margin: auto 0;
    left: 20px;
}

.navigation-user-link:hover {
    background-color: #595959;
    border-color: #595959;
}

.navigation-user-link:hover .navigation-icon {
    fill: #242424;
}

.navigation-user-link-with-text:hover .navigation-icon {
    fill: #fff;
}

.navigation-user-link:focus-visible,
.navigation-user-link:active {
    outline: none;
    border-color: #E7E7E7;
}

.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px;
    color: #fff;
    background: #000 url("../images/background.jpg") no-repeat;
    background-position: top 0px center;
}

.main-icon {
    width: 367px;
    height: 152px;
    margin: 0 auto;
}

.advantages-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0;
    margin-top: 64px;
    padding: 0;
}

.advantages-item {
    position: relative;
    max-width: 277px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.advantages-item:not(:nth-child(3n)) {
    margin-right: 54px;
}

.advantages-title {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 56px;
}

.advantages-title::after {
    position: absolute;
    top: 54px;
    left: 50%;
    width: 13px;
    height: 13px;
    transform: rotate(45deg) translateX(-50%) translateY(50%);
    background-color: #fff;
    content: "";
}

.advantages-description {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    text-align: center;
}

.services-gallery-wrapper {
    display: flex;
    min-width: 940px;
    margin-top: 38px;
    padding: 40px;
    color: #242424;
    background: #FBF7F4 url("../images/pattern.png");
}

.services {
    padding-right: 39px;
    border-right: 1px dashed #595959;
}

.services-title {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 28px;
}

.services-list {
    min-width: 390px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.services-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.services-item::before {
    flex-grow: 1;
    order: 2;
    margin: 0 16px;
    border-bottom: 2px dotted rgba(89, 89, 89, 0.5);
    content: "";
}

.services-name {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 22px;
}

.services-price {
    order: 3;
    color: #AF7842;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.gallery {
    padding-left: 40px;
}

.gallery-title {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.slider-wrapper {
    position: relative;
    width: fit-content;
}

.gallery-photo {
    width: 390px;
    max-height: 250px;
}

.previous-photo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    min-width: 48px;
    min-height: 60px;
}

.previous-photo::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 60px;
    background: url("../images/arrow.svg") no-repeat center;
    transform: rotate(180deg);
    content: "";
}

.next-photo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    min-width: 48px;
    min-height: 60px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-pagination-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 390px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 16px;
}

.gallery-pagination-item {
    display: flex;
    align-items: flex-start;
}

.gallery-pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-button {
    padding: 0;
    width: 8px;
    height: 8px;
    border: none;
    background-color: #BDBDBD;
    border-radius: 50%;
    cursor: pointer;
}

.pagination-button-current {
    background-color: #242424;
}

.pagination-button:hover {
    background-color: #AF7842;
}

.pagination-button:focus-visible,
.pagination-button:active {
    background-color: #DBB590;
    ;
}

.contacts-appointment-wrapper {
    display: flex;
    min-width: 940px;
    margin-top: 31px;
    padding: 40px;
    color: #242424;
    background: #FBF7F4 url("../images/pattern.png");
}

.contacts {
    padding-right: 40px;
    border-right: 1px dashed #595959;
}

.contacts-title {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;
}

.contacts-side-title {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #AF7842;
    margin: 0;
}

.contacts-address {
    max-width: 350px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #242424;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.contacts-phone {
    display: inline-block;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #242424;
    text-decoration: none;
    margin-bottom: 22px;
}

.schedule-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 21px;
    padding: 0;
}

.schedule-item {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #242424;
}

.contacts-button-wrapper {
    display: flex;
}

.contacts .button-white {
    margin-left: 16px;
}

.appointment {
    padding-left: 40px;
}

.appointment-title {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.appointment-description {
    max-width: 416px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.appointment-form {
    display: grid;
    grid-template-columns: 114px 17px 74px 17px 208px;
    row-gap: 19px;
}

.appointment-date-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
}

.appointment-form-title {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.appointment-tooltip {

    width: 12px;
    height: 12px;
}

.appointment-tooltip-text {
    display: none;
    position: absolute;
    top: -88px;
    left: -21px;
    min-width: 160px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 5px 8px;
    background-color: #242424;
    border-radius: 8px;
}

.tooltip-icon {
    fill: #242424;
}

.appointment-tooltip:hover .tooltip-icon {
    fill: #AF7842;
}

.appointment-tooltip:hover+.appointment-tooltip-text {
    display: flex;
}

.appointment-input {
    margin-top: 8px;
    padding: 8px 15px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    background-color: #fff;
    border: 2px solid #242424;
}

.appointment-input:hover {
    border-color: #AF7842;
}

.appointment-input:focus-visible,
.appointment-input:active {
    border-color: #AF7842;
    outline: 2px solid #DBB590;
}

.appointment-input:invalid {
    border-color: #EA5454;
}

.appointment-input:invalid:hover {
    border-color: #EA5454;
    outline: 2px solid #DBB590;
}

.appointment-input:disabled {
    background-color: #E7E7E7;
    color: #595959;
    border-color: #595959;
}

.appointment-time-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
}

.appointment-phone {
    grid-column: 5/6;
}

.appointment-phone-input {
    width: 208px;
}


.appointment-name {
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
}

.appointment-form .button {
    grid-column: 1/3;
}

.main-footer {
    padding: 40px;
    background: #242424 url("../images/pattern.png");
    color: #fff;
}

.main-footer-container {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    margin: 0 auto;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-contacts-icon {
    width: 187px;
    height: 27px;
}

.footer-contacts-address {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    max-width: 183px;
    margin: 0;
    margin-top: 24px;
}

.footer-contacts-phone {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    margin-top: 4px;
}

.footer-contacts-map-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 16px;
}

.main-footer-title {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
}

.email-subscribe-form {
    display: flex;
    margin-top: 14px;
}

.email-subscribe-input {
    padding: 8px 17px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border: 2px solid #000000;
}

.email-subscribe-input:hover {
    border-color: #AF7842;
}

.email-subscribe-input:focus-visible,
.email-subscribe-input:active {
    border-color: #AF7842;
    outline: 2px solid #DBB590;
}

.email-subscribe-input:invalid {
    border-color: #EA5454;
}

.email-subscribe-input:invalid:hover {
    border-color: #EA5454;
    outline: 2px solid #DBB590;
}

.email-subscribe-input:disabled {
    background-color: #E7E7E7;
    color: #595959;
    border-color: #595959;
}

.email-subscribe-form .button {
    width: 56px;
    background-image: url("../images/footer-stroke.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 256px;
    list-style-type: none;
    margin: 0;
    margin-top: 14px;
    padding: 0;
}

.footer-social-link {
    width: 56px;
    height: 44px;
    margin-right: 8px;
}

.social-twitter {
    background-image: url("../images/twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-vkontakte {
    background-image: url("../images/vk.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-instagram {
    background-image: url("../images/instagram.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-copyright {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
    margin-top: 36px;
}

.footer-copyright-link {
    color: #DBB590;
}

.logo-navigation-link {
    width: 140px;
    padding: 26px 0;
    background: url("../images/catalog-logo.svg") no-repeat center;
}

.navigation-link-current {
    position: relative;
}

.navigation-link-current::after {
    position: absolute;
    left: 20px;
    bottom: -5px;
    right: 20px;
    height: 4px;
    background-color: #fff;
    content: "";
}

.catalog-main {
    background: #FBF7F4 url("../images/pattern.png");
    padding: 40px;
    padding-bottom: 60px;
}
.page-wrapper {
    width: 940px;
    margin: 0 auto;
}
.catalog-title {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 16px;
}

.catalog-content {
    display: flex;
    justify-content: center;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 32px;
}

.breadcrumbs-item:not(:first-child)::before {
    position: absolute;
    top: 50%;
    left: -22px;
    width: 8px;
    height: 8px;
    background-color: #242424;
    transform: rotate(45deg) translateY(-50%);
    content: "";
}

.breadcrumbs-link {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
}

.breadcrumbs-link-current {
    text-decoration: none;
    color: #595959;
}

.product-filters-form {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.product-filters {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.product-filters-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 22px;
}

.range-scale {
    display: flex;
    flex-direction: column;
}

.range-slider {
    position: relative;
    width: 220px;
    height: 4px;
    background-color: #242424;
    margin-bottom: 16px;
}

.range-bar {
    position: absolute;
    top: 0;
    height: 4px;
    background-color: #AF7842;
}

.range-toggle {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    border: 2px solid #242424;
    border-radius: 50%;
    background-color: #fff;
    top: 0;
    cursor: pointer;
}

.button-min {
    left: 0;
    transform: translateY(-50%) translateX(-50%);
}

.button-max {
    right: 0;
    transform: translateY(-50%) translateX(50%);
}

.range-toggle:hover {
    background-color: #DBB590;
}

.range-toggle:focus-visible,
.range-toggle:active {
    background-color: #DBB590;
    outline: 3px solid #AF7842;
}

.price-input-item {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.price-input-item + .price-input-item {
    margin-left: 4px;
}

.price-input {
    width: 40px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding: 0 2px;
    background: inherit;
    border: none;
    text-align: center;
}

.products-filters-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.product-filters-item {
    position: relative;
    max-width: 220px;
    padding-left: 36px;
}

.product-filters-item:not(:last-child) {
    margin-bottom: 16px;
}

.control-text {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.control-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #242424;
    content: "";
    cursor: pointer;
}

.control-input[type="checkbox"]:checked+.control-checkbox {
    background-image: url("../images/checkbox-checked.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.control-input[type="checkbox"]:hover+.control-checkbox {
    border-color: #AF7842;
}

.control-input[type="checkbox"]:disabled+.control-checkbox {
    border-color: #BDBDBD;
}

.control-radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #242424;
    border-radius: 50%;
    content: "";
}

.control-input[type="radio"]:checked+.control-radio::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background-color: #242424;
    content: "";
}

.control-input[type="radio"]:hover+.control-radio {
    border-color: #AF7842;
}

.control-input[type="radio"]:disabled+.control-radio {
    border-color: #BDBDBD;
}

.product-filters-form .button {
    align-self: flex-start;
}

.select-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    min-width: 700px;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
}

.select-control {
    position: relative;
    margin-right: auto;
    border: 2px solid #242424;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    padding-right: 92px;
    background: #fff url(../images/arrow-down.svg) no-repeat center right 16px;
    appearance: none;
}

.select-control:hover {
    border-color: #AF7842;
}

.select-control:focus-visible,
.select-control:active {
    border-color: #AF7842;
    outline: 2px solid #DBB590;
}

.select-wrapper .button {
    width: 56px;
    height: 44px;
    background-image: url("../images/button-cards.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.select-wrapper .button-white {
    width: 56px;
    height: 44px;
    background-image: url("../images/button-list.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.products-view-current {
    cursor: default;
}

.products-view-current:hover,
.products-view-current:focus-visible,
.products-view-current:active {
    background-color: #000;
    outline: none;
}

.suitable-products-list {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.suitable-products-img {
    background-color: #f7f7f7;
}

.suitable-products-content {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 16px;
    background-color: #fff;
}

.suitable-products-content .button {
    margin-top: auto;
}

.suitable-products-name {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
}

.suitable-products-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #814B18;
    margin: 0;
    margin-top: 8px;
}

.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-top: 24px;
    padding: 16px;
}


.pagination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 505px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination-item {
    margin-right: 8px;
    margin-bottom: 5px;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    min-width: 54px;
    min-height: 44px;
}

.pagination-current {
    background-color: #fff;
    color: #242424;
    cursor: default;
}

.pagination-current:hover,
.pagination-current:focus-visible,
.pagination-current:active {
    background-color: #fff;
    outline: none;
}

.pagination-arrow {
    position: relative;
    min-width: 56px;
    min-height: 44px;
}

.pagination-arrow-left::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    transform: rotate(180deg) translateX(50%) translateY(50%);
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.pagination-arrow-right {
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.pagination-arrow-locked {
    background-color: #595959;
    cursor: default;
}

.pagination-arrow-locked:hover,
.pagination-arrow-locked:focus-visible,
.pagination-arrow-locked:active {
    background-color: #595959;
    outline: none;
}